/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}
/*
   background-color: #0f3930;
*/

/* The whole bar */
window#waybar {
   background: transparent;
   color: white;
   font-family: "SF Pro Display", Cantarell, Noto Sans, sans-serif;
   font-size: 14px;
}
window#waybar>box {
   padding-left: 0px;
   padding-right: 0px;
}

/* Each module */
#battery,
#clock,
#cpu,
#cpuinfo,
#custom-keyboard-layout,
#memory,
#mode,
#pulseaudio,
#temperature,
#backlight,
#network,
#tray {
    background-color: #24283b;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px 0px 0px 0px;
}

/*
*/

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #9ece6a;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}


#backlight {
    color: #b48ead;
    border-radius: 0px 0px 0px 0px;
    margin-right: 0px;
}

#clock {
    /* font-weight: bold; */
    border-radius: 0px 0px 5px 5px;
    color: #ddd;
}

#cpu {
  /* No styles */
    color: #ddd;
}
/*
#cpu:after {
  content:    "";
  position:   absolute;
  left:       0;
  bottom:     -3px;
  width:      100%;
  height:     5px;
  background: magenta;
}
*/

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #7dcfff;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background-color: #24283b;
    color: #ddd;
    border-radius: 5px;
    margin-left: 25px;
    /* To compensate for the top border and still have vertical centering */
}

#network {
     color: #f7768e; 
    /* color: #f65050; */
    border-radius: 0px 0px 0px 5px;
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
    color: #e0af68;
}

#pulseaudio.muted {
    /* No styles */
}


#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
}

#workspaces {
    background-color: #24283b;
    margin-top: 0px;
    border-radius: 0px 0px 5px 0px;
}
#workspaces button {
    padding: 0px 15px;
    color: #ddd;
}

#workspaces button.focused {
    color: #24283b;
    background-color: #a13332;
    border-radius: 5px 0px 5px 5px;
}

#workspaces button:hover {
    background-color: #7dcfff;
    color: #24283b;
    border-radius: 5px 0px 5px 5px;
}
